@keyframes drop {
  0% {
    background-color: rgb(36, 242, 78);
    width: 0;
    opacity: 0;
    translate: (0 -20rem 0);
  }

  100% {
    opacity: 1;
    translate: (0);
  }
}
@keyframes lift {
  0% {
    // width: 80%;
    opacity: 1;
    translate: (0);
  }
  100% {
    // width: 0;
    opacity: 0;
    translate: (0 -20rem 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes delete {
  0% {
    opacity: 1;
  }
  //   50% {
  //     opacity: 0.2;
  //     width: 10%;
  //     rotate: 0;
  //   }
  50% {
    opacity: 0.2;
    width: 10%;
    background-color: red;

    // opacity: 0.2;
    // width: 10%;
    // translate: (0 -50rem 0);
    // rotate: 360deg;
    scale: 1;
  }
  70% {
    opacity: 0.2;
    width: max-content;
    scale: 3;
  }
  100% {
    background-color: red;

    opacity: 0.2;
    width: 10%;
    scale: 0;
  }
}
